.legendLabel {
    color:#333 !important;
}
#history_controls {
}
/*#current_time {
    width:150px;
    display:inline-block;
    margin-bottom:-2px;
}*/
/* centered columns styles */
.row-centered {
    text-align:center;
}
/*.col-centered {
    display:inline-block;
    float:none;

    text-align:left;

    margin-right:-4px;
}*/